<app-header></app-header>
<div class="container" style="height: 528px">
<app-navbar-profile></app-navbar-profile>
  <div class="container">
    <h4 style="color: coral"> {{username}}. Thông tin tài khoản </h4>
    <p>Đổi mật khẩu ít nhất 6 tháng 1 lần để bảo vệ tài khoản của bạn</p>
  </div>

  <div class="row">
    <div class="col-lg-4 " >
      <div class="d-flex flex-column flex-wrap bg-light shadow">
        <button class="p-2 bg-white font-weight-bold " style="text-align: left" [routerLink]="['/profileUser']">Thông tin tài khoản</button>
        <button class="p-2 bg-white " style="text-align: left" [routerLink]="['/editPassword']">Thay đổi mật khẩu</button>
        <button class="p-2 bg-white " style="text-align: left">Thanh Toán</button>
        <button class="p-2 bg-white " style="text-align: left">Liên kết tài khoản</button>
      </div>
    </div>

    <div class="col-lg-8 ">
      <form (ngSubmit)="updateProfile()">
      <div class="form-group">
        <label for="pwd">Mật khẩu hiện tại </label>
        <input type="password" class="form-control" id="pwd"  value="{{passwordOld}}" name="three">
      </div>
      <div class="form-group">
        <label for="pwd">Mật khẩu mới</label>
        <input type="password" class="form-control" id="pwd1"  [(ngModel)]="user.password" name="three">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
  </div>
</div>
<app-footer></app-footer>
