<div>
  <nav class="navbar navbar-expand-sm bg-light header">
    <div class="col-md-6">
      <a class="navbar-brand" [routerLink]="['']">
        <img width="70" class="img-fluid" alt="VIPSTAY"
             src="https://firebasestorage.googleapis.com/v0/b/vipstay-637a2.appspot.com/o/vipstay-logo.png?alt=media&token=0692d07b-3d78-449d-8803-d866d0439bbf">
      </a>
    </div>
    <div class="col-md-6">
      <ul class="navbar-nav justify-content-around">
        <li class="nav-item">
          <a class="nav-link text-dark " href="#">Hotline: 1900 1080</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-warning text-warning p-0 mt-2" [routerLink]="['/registerHost']"
             *ngIf="!username">Trở thành chủ nhà</a>
        </li>
        <li class="nav-item" *ngIf="!username">
          <a class="nav-link text-dark " [routerLink]="['/registerUser']">Đăng ký</a>
        </li>

        <li class="nav-item">
          <div *ngIf="username">
            <a class="nav-link text-dark" href="#">{{username}}</a>
          </div>
          <div *ngIf="!username">
            <a class="nav-link text-dark " routerLink="/login">Đăng nhập</a>
          </div>
        </li>
        <li class="nav-item" *ngIf="username">
          <a routerLink="/logout" class="nav-link text-dark " (click)="logout()">Đăng xuất</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
