<app-header></app-header>
<div class="container" style="height: 528px">
  <app-navbar-profile></app-navbar-profile>
  <div class="container">
    <h4 style="color: coral"> {{username}}. Thông tin mật khẩu </h4>
    <p>Đổi mật khẩu ít nhất 6 tháng 1 lần để bảo vệ tài khoản của bạn</p>


    <div class="row">
      <div class="col-lg-4 ">
        <div class="d-flex flex-column flex-wrap bg-light shadow">
          <button class="p-2 bg-white font-weight-bold " style="text-align: left" [routerLink]="['/profileUser']">Thông
            tin tài khoản
          </button>
          <button class="p-2 bg-white  " style="text-align: left" [routerLink]="['/confirmPassword']">Thay đổi mật
            khẩu
          </button>
          <button class="p-2 bg-white " style="text-align: left">Thanh Toán</button>
          <button class="p-2 bg-white " style="text-align: left">Liên kết tài khoản</button>
        </div>
      </div>
      <div class="col-lg-8 ">
        <form>
          <div class="form-group">
            <label for="pwd">Mật khẩu mới</label>
            <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password" name="four">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
