<app-header></app-header>
<div class="container" style="height: 528px">
  <app-navbar-profile></app-navbar-profile>
  <div class="container">
    <h4 style="color: coral"> {{username}}. Thông tin mật khẩu </h4>
    <p>Đổi mật khẩu ít nhất 6 tháng 1 lần để bảo vệ tài khoản của bạn </p>


    <div class="row">
      <div class="col-lg-4 ">
        <div class="d-flex flex-column flex-wrap bg-light shadow">
          <button class="p-2 bg-white font-weight-bold " style="text-align: left" [routerLink]="['/profileUser']">Thông
            tin tài khoản
          </button>
          <button class="p-2 bg-white  " style="text-align: left" [routerLink]="['/confirmPassword']">Thay đổi mật
            khẩu
          </button>
          <button class="p-2 bg-white " style="text-align: left">Thanh Toán</button>
          <button class="p-2 bg-white " style="text-align: left">Liên kết tài khoản</button>
        </div>
      </div>
      <div class="col-lg-8 ">
        <form [formGroup]="registerForm" (ngSubmit)="updatePassword()">
          <div class="form-group">
            <label for="pwd">Mật khẩu hiện tại</label>
            <input type="password" class="form-control" id="pwd" [(ngModel)]="oldPasword" formControlName="confirm">
          </div>
          <div formGroupName="pwGroup">
            <div class="form-group row">
              <label class="col">
                Mật khẩu mới:
                <input type="password" class="form-control" [(ngModel)]="newPassword" formControlName="password">
                <div class="text-danger small"
                     *ngIf="registerForm.get('pwGroup').get('password').invalid && (registerForm.get('pwGroup').get('password').dirty || registerForm.get('pwGroup').get('password').touched)">
                  <div *ngIf="registerForm.get('pwGroup').get('password').errors.required">
                    Không để trống dòng này!
                  </div>
                  <div *ngIf="registerForm.get('pwGroup').get('password').errors.minlength">
                    Mật khẩu tối thiếu 6 ký tự!
                  </div>
                  <div *ngIf="registerForm.get('pwGroup').get('password').errors.maxlength">
                    Mật khẩu tối đa 100 ký tự!
                  </div>
                </div>
              </label>
            </div>
            <div class="form-group row">
              <label class="col">
                Xác nhận mật khẩu mới:
                <input type="password" class="form-control" formControlName="confirmPassword">
                <div class="text-danger small"
                     *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) && (registerForm.get('pwGroup').get('confirmPassword').dirty || registerForm.get('pwGroup').get('confirmPassword').touched)">
                  Mật khẩu không trùng nhau
                </div>
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
