<app-header-for-host></app-header-for-host>
  <router-outlet name='host'></router-outlet>
<!--<div class="row">-->
<!--  <div class="col-8"></div>-->
<!--  <div class="col-4">-->
<!--    <div style="margin-bottom: 30px">-->
<!--      <ul class="list-group">-->
<!--        <li class="list-group-item" style="font-size: large">Thống kê</li>-->
<!--        <li class="list-group-item">Tổng số đặt phòng tháng 8</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div style="margin-bottom: 30px">-->
<!--      <ul class="list-group">-->
<!--        <li class="list-group-item" style="font-size: large">Tin nhắn gần đây</li>-->
<!--        <li class="list-group-item">Không có tin nhắn-->
<!--          Bạn càng trả lời nhanh thì khách hàng sẽ càng vui-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div style="margin-bottom: 30px">-->
<!--      <ul class="list-group">-->
<!--        <li class="list-group-item" style="font-size: large">Thông tin hỗ trợ</li>-->
<!--        <li class="list-group-item">Hotline: 18006586 (Phím 3)</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<app-footer></app-footer>

