<div>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="col-md-6">
      <a class="navbar-brand text-dark" [routerLink]="['']">VIPstay | for Host</a>
    </div>
    <div class="col-md-6">
      <ul class="navbar-nav justify-content-around">
        <li class="nav-item">
          <a class="nav-link text-dark">Hotline: 1900 1080</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-warning text-warning p-0 mt-2" [routerLink]="['/registerHost']"
             *ngIf="!username">Trở thành chủ nhà</a>
        </li>
        <li class="nav-item" *ngIf="!username">
          <a class="nav-link text-dark " [routerLink]="['/registerUser']">Đăng ký</a>
        </li>

        <li class="nav-item">
          <div *ngIf="username == null">
            <a class="nav-link text-dark " routerLink="/login">Đăng nhập</a>
          </div>
          <app-user-menu></app-user-menu>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home-for-host','create-house']">Đăng nhà</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lịch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Đặt phòng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home-for-host','houses']">Chỗ ở của bạn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thanh khoản</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Khuyến mại</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
