<app-header></app-header>
<div class="login-body row m-3">
  <form [formGroup]="loginForm" class="offset-sm-4 col-sm-4 bg-light" (ngSubmit)="login()" novalidate>
    <h3 class="text-center">Đăng nhập</h3>
    <div class="form-row form-group mt-3">
      <label class="col-sm-4 col-form-label ">Tên đăng nhập:</label>
      <input type="text" formControlName="username" class="form-control col-sm-8"
             [class.is-invalid]="loginForm.get('username').invalid && (loginForm.controls.username.dirty||loginForm.controls.username.touched)">
    </div>
    <div class="form-row form-group">
      <label class="col-sm-4 col-form-label">Mật khẩu:</label>
      <input type="password" formControlName="password" class="form-control col-sm-8"
             [class.is-invalid]="loginForm.get('password').invalid && (loginForm.controls.password.dirty||loginForm.controls.password.touched)">
    </div>
    <input class="btn btn-primary offset-sm-1 col-sm-4" [disabled]="loginForm.invalid" type="submit" value="Đăng nhập">
    <a routerLink="/registerUser">
      <button class="btn btn-danger offset-sm-2 col-sm-4 ">Đăng ký</button>
    </a>
    <span class="text-center mt-3 d-block">
        <p>Quên mật khẩu?
        <a class="d-inline" routerLink="#">Nhấp vào đây</a>
        </p>
    </span>
    <div class="mt-3">
      <a routerLink="#">
        <button class="btn btn-outline-primary col-sm-10 offset-sm-1">Đăng nhập với Facebook</button>
      </a>
    </div>
    <div class="mt-3">
      <a routerLink="#">
        <button class="btn btn-outline-danger col-sm-10 offset-sm-1">Đăng nhập với Google</button>
      </a>
    </div>
  </form>
</div>
<app-footer></app-footer>

