<div class="container-fluid">
  <app-header-for-host></app-header-for-host>
  <div
    style="background-color: black; border-radius: 10px; text-align: center; color: white; margin-top: 20px; margin-bottom: 20px; font-size: x-large; margin-left: 5px; margin-right:5px">
    Sửa lại thông tin về chỗ ở bạn đã đăng
  </div>
<!--  <div class="container-fluid row">-->
    <!--    <div class="col-8">-->
    <form method="post" (ngSubmit)="editHouse()" [formGroup]="houseForm">
      <div class="container-fluid row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tên nhà: </label>
            <input id="houseName" type="email" class="form-control" [(ngModel)]="house.houseName"
                   formControlName="houseName"
                   placeholder="Enter house name">
            <div class="text-danger small"
                 *ngIf="houseForm.get('houseName').invalid && (houseForm.get('houseName').dirty || houseForm.get('houseName').touched)">
              <div *ngIf="houseForm.get('houseName').errors.required">
                Không để trống dòng này!
              </div>
              <div *ngIf="houseForm.get('houseName').errors.minlength">
                Tên nhà tối thiểu 3 kí tự
              </div>
              <div *ngIf="houseForm.get('houseName').errors.maxlength">
                Tên nhà tối đa 100 kí tự
              </div>
              <div *ngIf="houseForm.get('houseName').errors.pattern">
                Tên nhà không được chứa các ký tự đặc biệt
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Loại nhà: </label>
            <select id="houseType" class="custom-select"
                    [(ngModel)]="house.category" formControlName="category">
              <option value="{{house.category}}">{{house.category}}</option>
              <option value="Home">Home</option>
              <option value="Villa">Villa</option>
              <option value="Resort">Resort</option>
              <option value="Hotel">Hotel</option>
            </select>
            <div class="text-danger small"
                 *ngIf="houseForm.get('category').invalid && (houseForm.get('category').dirty || houseForm.get('category').touched)">
              <div *ngIf="houseForm.get('category').errors.required">
                Bạn chưa chọn loại nhà
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Địa chỉ: </label>
            <input type="text" class="form-control" [(ngModel)]="house.address" formControlName="address"
                   placeholder="Enter address">
            <div class="text-danger small"
                 *ngIf="houseForm.get('address').invalid && (houseForm.get('address').dirty || houseForm.get('address').touched)">
              <div *ngIf="houseForm.get('address').errors.required">
                Không để trống dòng này!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Số phòng ngủ: </label>
            <input type="number" class="form-control" [(ngModel)]="house.bedroomNumber"
                   formControlName="bedroomNumber"
                   placeholder="Enter bedroom number">
            <div class="text-danger small"
                 *ngIf="houseForm.get('bedroomNumber').invalid && (houseForm.get('bedroomNumber').dirty || houseForm.get('bedroomNumber').touched)">
              <div *ngIf="houseForm.get('bedroomNumber').errors.required">
                Không để trống dòng này!
              </div>
              <div *ngIf="houseForm.get('bedroomNumber').errors.min">
                Số phòng không được âm
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Số phòng tắm: </label>
            <input type="number" class="form-control" [(ngModel)]="house.bathroomNumber"
                   formControlName="bathroomNumber"
                   placeholder="Enter bathroom number">
            <div class="text-danger small"
                 *ngIf="houseForm.get('bathroomNumber').invalid && (houseForm.get('bathroomNumber').dirty || houseForm.get('bathroomNumber').touched)">
              <div *ngIf="houseForm.get('bathroomNumber').errors.required">
                Không để trống dòng này!
              </div>
              <div *ngIf="houseForm.get('bathroomNumber').errors.min">
                Số phòng không được âm
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 10px">
          <div class="form-group">
            <label>Diện tích: </label>
            <input type="number" class="form-control" [(ngModel)]="house.area" formControlName="area"
                   placeholder="Enter area">
            <div class="text-danger small"
                 *ngIf="houseForm.get('area').invalid && (houseForm.get('area').dirty || houseForm.get('area').touched)">
              <div *ngIf="houseForm.get('area').errors.required">
                Không để trống dòng này!
              </div>
              <div *ngIf="houseForm.get('area').errors.min">
                Diện tích phải lớn hơn 0
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Mô tả: </label>
            <textarea class="form-control" [(ngModel)]="house.description" formControlName="description"
                      placeholder="Enter description"></textarea>
          </div>
          <div class="form-group">
            <label>Giá: </label>
            <input type="number" class="form-control" [(ngModel)]="house.price" formControlName="price"
                   placeholder="Enter price">
            <div class="text-danger small"
                 *ngIf="houseForm.get('price').invalid && (houseForm.get('price').dirty || houseForm.get('price').touched)">
              <div *ngIf="houseForm.get('price').errors.required">
                Không để trống dòng này!
              </div>
              <div *ngIf="houseForm.get('price').errors.min">
                Giá thuê không được âm
              </div>
            </div>
          </div>
          <p>Thêm ảnh chỗ ở của bạn: </p>
          <app-upload-file (press)="getImageUrls($event)"></app-upload-file>
        </div>

        <div class="container-fluid row justify-content-center">
          <div style="margin-bottom: 20px">
            <input type="submit" class="btn btn-outline-primary" value="Cập nhật">
          </div>
        </div>
      </div>
    </form>
    <!--    </div>-->
<!--  </div>-->
  <app-footer></app-footer>
</div>
