<app-header></app-header>

<div
  style="margin-top: 20px; margin-bottom: 20px; background-color: black; color: white; border-radius: 15px; text-align: center">
  <h2>Đăng kí người dùng</h2>
</div>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      Email-->
  <!--      <input type="email" class="form-control" [(ngModel)]="user.email" formControlName="email">-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="alert alert-danger" role="alert"-->
  <!--       *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched">-->
  <!--    Invalid email!-->
  <!--  </div>-->
  <div class="form-group row">
    <label class="col" id="username">
      Username:
      <input type="text" class="form-control" [(ngModel)]="user.username" formControlName="username">
      <div class="text-danger small"
           *ngIf="registerForm.get('username').invalid && (registerForm.get('username').dirty || registerForm.get('username').touched)">
        <div *ngIf="registerForm.get('username').errors.required">
          Không để trống dòng này!
        </div>
        <div *ngIf="registerForm.get('username').errors.minlength">
          Username tối thiểu 3 kí tự
        </div>
        <div *ngIf="registerForm.get('username').errors.maxlength">
          Username tối đa 50 kí tự
        </div>
        <div *ngIf="registerForm.get('username').errors.pattern">
          Username không được chứa các ký tự đặc biệt
        </div>
      </div>
    </label>
  </div>

  <div formGroupName="pwGroup">
    <div class="form-group row mt-2">
      <label class="col">
        Mật khẩu:
        <input type="password" class="form-control" [(ngModel)]="user.password" formControlName="password">
        <div class="text-danger small"
             *ngIf="registerForm.get('pwGroup').get('password').invalid && (registerForm.get('pwGroup').get('password').dirty || registerForm.get('pwGroup').get('password').touched)">
          <div *ngIf="registerForm.get('pwGroup').get('password').errors.required">
            Không để trống dòng này!
          </div>
          <div *ngIf="registerForm.get('pwGroup').get('password').errors.minlength">
            Mật khẩu tối thiếu 6 ký tự!
          </div>
          <div *ngIf="registerForm.get('pwGroup').get('password').errors.maxlength">
            Mật khẩu tối đa 100 ký tự!
          </div>
        </div>
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Xác nhận mật khẩu:
        <input type="password" class="form-control" formControlName="confirmPassword">
        <div class="text-danger small"
             *ngIf="registerForm.get('pwGroup').invalid && (registerForm.get('pwGroup').get('confirmPassword').dirty || registerForm.get('pwGroup').get('confirmPassword').touched)">
          Mật khẩu không trùng nhau!
        </div>
      </label>
    </div>
    <!--    <div class="alert alert-danger" role="alert" *ngIf="registerForm.hasError('passwordnotmatch', ['pwGroup']) &&-->
    <!--      registerForm.get('pwGroup').touched">-->
    <!--      Password does not match!-->
    <!--    </div>-->
  </div>


  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      Address-->
  <!--      <input type="text" class="form-control" [(ngModel)]="user.address" formControlName="address">-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="alert alert-danger" role="alert"-->
  <!--       *ngIf="registerForm.get('address').invalid && registerForm.get('address').touched">-->
  <!--    Address is required!-->
  <!--  </div>-->


  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      Tuổi-->
  <!--      <input type="number" class="form-control" [(ngModel)]="user.age" formControlName="age">-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="alert alert-danger" role="alert"-->
  <!--       *ngIf="registerForm.get('age').invalid && registerForm.get('age').touched">-->
  <!--    You have to be over 18 to register an account-->
  <!--  </div>-->


  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      Số điện thoại-->
  <!--      <input type="tel" class="form-control" [(ngModel)]="user.phone" formControlName="phone" placeholder="+84...">-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="alert alert-danger" role="alert"-->
  <!--       *ngIf="registerForm.get('phone').invalid && registerForm.get('phone').touched">-->
  <!--    <span *ngIf="registerForm.get('phone').hasError('required')">Phone is required</span>-->
  <!--    <span-->
  <!--      *ngIf="registerForm.get('phone').hasError('pattern')">Phone must start with +84 followed by 9 or 10 digits.</span>-->
  <!--  </div>-->

  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      Name-->
  <!--      <input type="text" class="form-control" [(ngModel)]="user.name" formControlName="name">-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="alert alert-danger" role="alert"-->
  <!--       *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched">-->
  <!--    Address is required!-->
  <!--  </div>-->


  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      IdNumber-->
  <!--      <input type="text" class="form-control" [(ngModel)]="user.idNumber" formControlName="idNumber">-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="alert alert-danger" role="alert"-->
  <!--       *ngIf="registerForm.get('idNumber').invalid && registerForm.get('idNumber').touched">-->
  <!--    Address is required!-->
  <!--  </div>-->

  <!--  <div class="form-group row">-->
  <!--    <label class="col">-->
  <!--      Avatar-->
  <!--     <app-upload-file (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-file>-->
  <!--    </label>-->
  <!--  </div>-->

  <div class="form-group">
    <input id="test" class="btn btn-primary" type="submit"
           value="Create User">
  </div>
<!--  modal-->
<!--  <div class="modal fade hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"-->
<!--       aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLongTitle">Thông báo</h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          assasassaa-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</form>

<app-footer></app-footer>

