<app-header></app-header>

<div
  style="margin-top: 20px; margin-bottom: 20px; background-color: black; color: white; border-radius: 15px; text-align: center">
  <h2>Đăng kí người dùng</h2>
</div>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      Email
      <input type="email" class="form-control" [(ngModel)]="user.email" formControlName="email">
      <div class="text-danger small"
           *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
        <div *ngIf="registerForm.get('email').errors.required">
          Không để trống dòng này!
        </div>
        <div *ngIf="registerForm.get('email').errors.email">
          Email không hợp lệ
        </div>
      </div>
    </label>
  </div>
  <div class="form-group row">
    <label class="col" id="username">
      Username:
      <input type="text" class="form-control" [(ngModel)]="user.username" formControlName="username">
      <div class="text-danger small"
           *ngIf="registerForm.get('username').invalid && (registerForm.get('username').dirty || registerForm.get('username').touched)">
        <div *ngIf="registerForm.get('username').errors.required">
          Không để trống dòng này!
        </div>
        <div *ngIf="registerForm.get('username').errors.minlength">
          Username tối thiểu 3 kí tự
        </div>
        <div *ngIf="registerForm.get('username').errors.maxlength">
          Username tối đa 50 kí tự
        </div>
        <div *ngIf="registerForm.get('username').errors.pattern">
          Username không được chứa các ký tự đặc biệt
        </div>
      </div>
    </label>
  </div>

  <div formGroupName="pwGroup">
    <div class="form-group row mt-2">
      <label class="col">
        Mật khẩu:
        <input type="password" class="form-control" [(ngModel)]="user.password" formControlName="password">
        <div class="text-danger small"
             *ngIf="registerForm.get('pwGroup').get('password').invalid && (registerForm.get('pwGroup').get('password').dirty || registerForm.get('pwGroup').get('password').touched)">
          <div *ngIf="registerForm.get('pwGroup').get('password').errors.required">
            Không để trống dòng này!
          </div>
          <div *ngIf="registerForm.get('pwGroup').get('password').errors.minlength">
            Mật khẩu tối thiếu 6 ký tự!
          </div>
          <div *ngIf="registerForm.get('pwGroup').get('password').errors.maxlength">
            Mật khẩu tối đa 100 ký tự!
          </div>
        </div>
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Xác nhận mật khẩu:
        <input type="password" class="form-control" formControlName="confirmPassword">
        <div class="text-danger small"
             *ngIf="registerForm.get('pwGroup').invalid && (registerForm.get('pwGroup').get('confirmPassword').dirty || registerForm.get('pwGroup').get('confirmPassword').touched)">
          Mật khẩu không trùng nhau!
        </div>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col">
      Ảnh đại diện
      <app-upload-file (press)="getImageUrl($event)"></app-upload-file>
    </label>
  </div>

  <div class="form-group">
    <input id="test" class="btn btn-primary" type="submit"
           value="Create User">
  </div>
</form>

<app-footer></app-footer>

