<app-header></app-header>
<div class="container-fluid">
  <br>
  <br>
  <div class="row">
    <h1> All orders</h1>
  </div>
  <div class="text-danger float-right row">Chú ý: Bạn chỉ có thể hủy đặt nhà trước thời điểm checkin ít nhất
    1 ngày</div>
  <br>
  <div class="row">
    <table class="table table-hover table-bordered">
      <thead>
      <tr class="bg-dark text-light text-center">
        <th>#</th>
        <th>Tên nhà</th>
        <th>Đơn giá</th>
        <th>Checkin</th>
        <th>Checkout</th>
        <th>Số đêm</th>
        <th>Số người</th>
        <th>Tổng tiền</th>
        <th>Thời gian đặt</th>
        <th>Tình trạng</th>
        <th>Huỷ</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders,index as i" [class.text-secondary]="order.statusOrder==='CANCELED'">
        <td class="text-center">{{i + 1}}</td>
        <td>{{order.house.houseName}}</td>
        <td class="text-center">{{order.house.price}}$</td>
        <td class="text-center">{{order.checkin | date:'dd/MM/yyyy' }}</td>
        <td class="text-center">{{order.checkout | date:'dd/MM/yyyy' }}</td>
        <td class="text-center">{{(order.checkout.getTime() - order.checkin.getTime()) / day}}</td>
        <td class="text-center">{{order.numberGuest}}</td>
        <td class="text-center">{{order.cost}}</td>
        <td>{{order.orderTime | date:"EEEE, HH:mm, 'ngày' dd/MM/yyyy"}}</td>
        <td class="text-center">{{order.statusOrder}}</td>
        <td class="text-center">
          <button class="btn btn-outline-danger" *ngIf="order.statusOrder!=='CANCELED' && (order.checkin.getTime()-now.getTime())/day>1"
                  (click)="cancelOrder(order.id)">Hủy
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
