<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../assets/banner/banner1.jpg" alt="Los Angeles" width="100%" height="400">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/banner/banner2.jpg" alt="Chicago" width="100%" height="400">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/banner/banner3.jpg" alt="New York" width="100%" height="400">
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/banner/banner4.jpg" alt="New York 2" width="100%" height="400">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
