<form class="bg-light">
  <div class="input-group p-2 m-2">
    <input type="text" class="form-control mr-2 rounded-sm" placeholder="Tìm kiếm">
    <input type="text" class="form-control mr-2 rounded-sm datetimepicker-input" placeholder="Ngày đến" id="ngayden" data-toggle="datetimepicker" data-target="#ngayden"/>
    <input type="text" class="form-control mr-2 rounded-sm datetimepicker-input" placeholder="Ngày đi" id="ngaydi" data-toggle="datetimepicker" data-target="#ngaydi"/>
    <input type="text" class="form-control mr-2 rounded-sm" placeholder="Số người">
    <button class="btn btn-success" type="submit">Tìm kiếm</button>
  </div>
</form>


<script type="text/javascript">
    $(function () {
        $('#ngayden').datetimepicker({
            format: 'L'
        });
    });
    $(function () {
        $('#ngaydi').datetimepicker({
            format: 'L'
        });
    });
</script>
