<app-header></app-header>
<div class="container" style="height: 528px">
<app-navbar-profile></app-navbar-profile>

    <div class="container">
      <h4 style="color: coral"> {{username}}. Thông tin tài khoản </h4>
      <p>Cá nhân hóa tài khoản bằng việc cập nhật thông tin của bạn</p>
    </div>

  <div class="row">
    <div class="col-lg-4 " >
      <div class="d-flex flex-column flex-wrap bg-light shadow">
        <button class="p-2 bg-white font-weight-bold " style="text-align: left" [routerLink]="['/profileUser']">Thông tin tài khoản</button>
        <button class="p-2 bg-white " style="text-align: left" [routerLink]="['/confirmPassword']">Thay đổi mật khẩu</button>
        <button class="p-2 bg-white " style="text-align: left">Thanh Toán</button>
        <button class="p-2 bg-white " style="text-align: left">Liên kết tài khoản</button>
      </div>
    </div>

    <div class="col-lg-8 ">

      <form (ngSubmit)="updateProfile()">
        <div class="form-group">
          <label for="username">Tên/UserName </label>
          <input type="text" class="form-control" id="username"  [(ngModel)]="user.username" name="first">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email"  [(ngModel)]="user.email" name="two">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"   [(ngModel)]="user.name" name="three">
        </div>
        <div class="form-group">
          <label for="pwd">Mật khẩu xác nhận</label>
          <input type="password" class="form-control" id="pwd" [(ngModel)]="oldPasword" name="four">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
