<div class="container-fluid">
  <app-header-for-host></app-header-for-host>
  <div
    style="background-color: black; border-radius: 10px; text-align: center; color: white; margin-top: 20px; margin-bottom: 20px; font-size: x-large; margin-left: 5px; margin-right:5px">
    Sửa lại thông tin về chỗ ở bạn đã đăng
  </div>
  <div class="container-fluid row">
    <div class="col-8">
      <div>
        <h4>Thêm giai đoạn bạn muốn ngừng cung cấp dịch vụ: </h4>
        <div>
          <mat-form-field color="primary">
            <input matInput [matDatepicker]="startDate" [(ngModel)]="statusHouse.startDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field color="primary">
            <input matInput [matDatepicker]="endDate" [(ngModel)]="statusHouse.endDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="create()">Create </button>
        </div>
      </div>

      <div style="margin: 10px">
        <h4>Chỗ ở sẽ tạm ngưng cung cấp dịch vụ trong khoảng thời gian như sau: </h4>
      </div>
      <div>
        <table class="table table-striped" style="border: solid 1px">
          <tr>
            <th class="text-center">Date start: </th>
            <th class="text-center">Date end: </th>
            <th class="text-center">#</th>
          </tr>
          <tr *ngFor="let statusHouse of statusHouses">
            <td class="text-center"><p>{{statusHouse.startDate | date:'dd/MM/yyyy'}}</p></td>
            <td class="text-center"><p>{{statusHouse.endDate| date:'dd/MM/yyyy'}}</p></td>
            <td class="text-center">
              <button type="button" class="btn btn-danger" (click)="delete(statusHouse.id)">Delete </button>
            </td>
          </tr>
        </table>
      </div>

      <!--      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
      <!--           aria-hidden="true">-->
      <!--        <div class="modal-dialog" role="document">-->
      <!--          <div class="modal-content">-->
      <!--            <div class="modal-header">-->
      <!--              <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>-->
      <!--              <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
      <!--                <span aria-hidden="true">&times;</span>-->
      <!--              </button>-->
      <!--            </div>-->
      <!--            <div class="modal-body">-->
      <!--              Bạn đã update chỗ ở thành công!-->
      <!--            </div>-->
      <!--            <div class="modal-footer">-->
      <!--              <button type="button" class="btn btn-primary" (click)="redirect()" data-dismiss="modal">Close</button>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->

    </div>
  </div>
  <app-footer></app-footer>
</div>
