<hr>
<div class="row mt-4 ml-3 mr-3 mb-4">
  <div class="col-md-2">
    <h6 class="font-weight-bold">TOP homestay được yêu thích</h6>
    <p><a href="#">Homestay Đà Lạt</a></p>
    <p><a href="#">Homestay Hà Nội</a></p>
    <p><a href="#">Homestay Hồ Chí Minh</a></p>
    <p><a href="#">Homestay Sapa</a></p>
  </div>
  <div class="col-md-2">
    <h6 class="font-weight-bold">Không gian ưa thích</h6>
    <p><a href="#">Căn hộ dịch vụ</a></p>
    <p><a href="#">Biệt thự</a></p>
    <p><a href="#">Nhà riêng</a></p>
    <p><a href="#">Studio</a></p>
  </div>
  <div class="col-md-2">
    <h6 class="font-weight-bold">Về chúng tôi</h6>
    <p><a href="#">Blog</a></p>
    <p><a href="#">Giới thiệu</a></p>
    <p><a href="#">1900 1000</a></p>
    <p><a href="#">info@vipstay.com</a></p>
    <p><a href="#">Trang thông tin dành cho chủ nhà</a></p>
  </div>
  <div class="col-md-3">
    <h6 class="font-weight-bold">Tải ứng dụng VIPstay</h6>
  </div>
  <div class="col-md-3">
    <h6 class="font-weight-bold">Đăng ký nhận tin</h6>
    <p>Nhận ưu đãi và tạo đơn đặt phòng đầu tiên của bạn trên hệ thống Luxstay!</p>
    <div class="form-inline">
      <input type="text" class="form-control" placeholder="Type your email">
      <input type="submit" class="btn btn-dark">
    </div>
    <p>Đăng ký và nhận email cung cấp các thông tin mới nhất của Luxstay về du lịch,
      dịch vụ, chương trình khuyến mại, khảo sát và ưu đãi từ đối tác. Bạn có thể
      hủy đăng kí bất cứ khi nào bằng cách nhấn vào liên kết ở cuối email.</p>

      <p>Liên hệ Luxstay tại đây. Xem chính sách bảo mật tại đây .</p>
  </div>
</div>
