<img src="../../../assets/banner/59349995-d0f0-4d54-8601-24e834671a44.jpg" height="auto" width="100%"/>
<app-search (press)="update($event)"></app-search>
<div class="body">
  <div class="best-choice houselist">
    <span class="header">Lựa chọn tốt nhất</span>
    <span class="row">
        <p class="col-sm-10">Thêm trải nghiệm, thêm nhiều niềm vui cùng các chủ nhà của chúng tôi</p>
        <a routerLink="#" class="col-sm-2 text-center">Xem thêm</a>
      </span>
    <div class="row justify-content-center">
      <h2 class="text-secondary font-italic " *ngIf="!bestChoiceHouses.length">No result!</h2>
    </div>
    <div class="row mt-3 text-center">
      <div class="card single-house col-sm-3" *ngFor="let house of bestChoiceHouses; i as index">
        <a routerLink="/houses/{{house.id}}"><img class="card-img-top img-fluid" style="width: 305px;height: 204px"
                                                  [src]=house.imageUrls[0] alt=""></a>
        <div class="card-body text-center">
          <a routerLink="/houses/{{house.id}}"><h5 class="card-title">{{house.houseName}}</h5></a>
          <p class="card-text m-md-1">{{house.price}} $/đêm</p>
          <p class="card-text m-md-1"><span class="fa fa-map-marker"></span> {{house.address}}</p>
          <p class="card-text m-md-1">
            <span class="fa fa-star " [class.checked]="house.rate"></span>
            <span class="fa fa-star" [class.checked]="(house.rate-1)>0"></span>
            <span class="fa fa-star" [class.checked]="(house.rate-2)>0"></span>
            <span class="fa fa-star" [class.checked]="(house.rate-3)>0"></span>
            <span class="fa fa-star" [class.checked]="(house.rate-4)>0"></span>
          </p>
          <p class="card-text m-md-1">{{house.bathroomNumber}} phòng tắm + {{house.bedroomNumber}} phòng ngủ</p>

        </div>
      </div>
    </div>
  </div>
  <hr>
<!--  <div class="best-saleoff houselist">-->
<!--    <span class="header">Khuyến mại tốt nhất</span>-->
<!--    <span class="row">-->
<!--        <p class="col-sm-10">Chỉ có tại VIPSTAY, hấp dẫn và hữu hạn, book ngay!</p>-->
<!--        <a routerLink="#" class="col-sm-2 text-center">Xem thêm</a>-->
<!--      </span>-->
<!--    <div class="row mt-3">-->
<!--      <div class="card single-house col-sm-3" *ngFor="let house of bestSaleoffHouses; i as index">-->
<!--        <a routerLink="/houses/{{house.id}}"><img class="card-img-top img-fluid" [src]=house.imageUrls[0] alt=""></a>-->
<!--        <div class="card-body text-center">-->
<!--          <a routerLink="/houses/{{house.id}}">-->
<!--            <h5 class="card-title">{{house.houseName}}</h5></a>-->
<!--          <p class="card-text">{{house.price}}</p>-->
<!--          <p class="card-text">{{house.address}}</p>-->
<!--          <p class="card-text">{{house.rate}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="suggestion houselist">-->
<!--    <span class="header">Gợi ý khám phá</span>-->
<!--    <span class="row">-->
<!--        <p-->
<!--          class="col-sm-10">Để mỗi chuyến đi là một hành trình truyền cảm hứng, mỗi căn phòng là một khoảng trời an yên</p>-->
<!--        <a routerLink="#" class="col-sm-2 text-center">Xem thêm</a>-->
<!--      </span>-->
<!--    <div class="row mt-3">-->
<!--      <div class="card single-house col-sm-3" *ngFor="let house of suggestionHouses; i as index">-->
<!--        <a routerLink="/houses/{{house.id}}"><img class="card-img-top img-fluid" [src]=house.imageUrls[0] alt=""></a>-->
<!--        <div class="card-body text-center">-->
<!--          <a routerLink="/houses/{{house.id}}"><h5 class="card-title">{{house.houseName}}</h5></a>-->
<!--          <p class="card-text">{{house.price}}</p>-->
<!--          <p class="card-text">{{house.address}}</p>-->
<!--          <p class="card-text">{{house.rate}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
